@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  /* font-family: "IBM Plex Mono", monospace; */
}

Span {
  display: block;
}
.continer {
  /* width: 100%; */
  height: 100%;
  background-image: url(Assign/Rectangle\ 8.png);
}
body h1,h2,h3,h4,h5,h6{
  font-family: "IBM Plex Mono", monospace;
}
body p{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-logo {
  height: 55px;
  width: 980px;
  background-color: #1b1b1b;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* flex-direction: row; */
  border-radius: 4px;
}
.navbar-content a {
  color: #9c9c9c;
  font-size: 14px;
  padding: 20px 20px;
}

.handburger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  display: none;
}
.handburger .line {
  width: 18px;
  height: 3px;
  background-color: white;
  margin-left: 20px;
}

@media (max-width: 780px) {
  .handburger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    display: flex;
    padding-right: 120px;
  }
  .handburger .line {
    width: 18px;
    height: 3px;
    background-color: white;
    margin-left: 20px;
  }

  .navbar-content a {
    display: none;
  }
}

.navbar-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-content a {
  color: #9c9c9c;
  padding: 20px;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 90px;
  padding-top: 80px;
}
.header-text h1 {
  color: white;
  font-size: 40px;
}
.header-text p {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  font-size: 15px;
  color: #9c9c9c;
  padding: 30px 0px;
}
.header-button {
  gap: 15px;
}
.header-button button {
  background-color: #3f8e00;
  width: 230px;
  height: 60px;
  color: white;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 8px 30px #3f8e0080;
  font-size: 15px;
  
}
 

button img {
  height: 10px;
  padding-left: 4px;
}
.header-img img {
  width: 100%;
  /* height: 320px; */
  border-radius: 50%;
  box-shadow: 0px 8px 30px #585d5480;
}

.worked-text p {
  color: #9c9c9c;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* text-align: center; */
  /* padding: 10px 165px; */
}
@media (max-width: 760px) {
  
.header-img img {
  width: 100%;
  /* height: 320px; */
  /* border-radius: 50%;
  box-shadow: 0px 8px 30px #585d5480; */
}
.header h1{
  display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:26px
}
  .header p {
    color: #9c9c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:10px ;
  }
   .header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}
.Clients-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 25px;
  flex-wrap: wrap;
  padding: 40px;
}
.Clients-logos img {
  width: 140px;
  height: 40px;
}
/* 2 */

.case-study {
  color: black;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
}

.case-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 40px;
}
.work-content2 p {
  color: #9c9c9c;
  font-size: 8px;
}

.case-work1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 190px;
}

.work-content2 {
  
  display: flex;
  justify-content: flex-start;
  align-items: fex-start;
  flex-direction: column;
  gap:  20px;
  
}
.work-content2 p {
  font-size: 20px;
}
.work-content2 button{

  padding: 20px 0px;
  width: 200px;
  height: 60px; 
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;

}

.case-work1 .image img{
  display: flex;

 border-radius: 4px;
}

#fi {
  width: 70px;
  height: 23px;
  padding: 0px 10px;
  gap: 10px;
  border-radius: 60px;
  text-align: center;
  color: #ffa217;
  background-color: #fff6e9;
}

#ed {
  width: 63px;
  height: 23px;
  padding: 0px 10px;
  gap: 10px;
  border-radius: 60px;
  text-align: center;
  background-color: #d0e6ff;
  color: rgba(4, 4, 108, 0.785);
}

#ph {
  width: 63px;
  height: 23px;
  padding: 0px 10px;
  gap: 10px;
  border-radius: 60px;
  text-align: center;
  background-color: #e0fff8;
  color: #2ab090;
}

#A1 {
  background-color: orange;
  color: white;
}
#A1 img {
  width: 10px;
  height: 10px;
  color: white;
}

#A2 {
  background-color: #000aff;
  padding: 20px 40px;
}
#A2 img {
  width: 10px;
  height: 10px;
  color: white;
}

#A3 {
  background-color: #2ab090;
  padding: 20px 40px;
}
#A3 img {
  width: 10px;
  height: 10px;
  color: white;
}
@media (max-width: 820px) {
  .case-content1 {
    gap: 3px;
  }

  .work-content2 p {
    font-size: 16px;
  }

  span {
    display: block;
  }

  .case-work1 {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

.image img {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  
  }

  .case-work1 p {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
.case-work1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
  padding: 30px 0px;
}

.work-content2 {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.work-content2 button {
  padding: 20px 30px;
  background-color: rgb(184, 125, 16);
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}

#ph {
  width: 64px;
  height: 24px;
  top: 27px;
  padding: 0px 10px;
  gap: 10px;
  border-radius: 50px;
  text-align: center;
  background-color: #e0fff8;
  color: #2ab090;
}

.work-content2 p {
  color: #9c9c9c;
  display: flex;
  justify-content: flex-start;
  text-align: start;
}

#B2 {
  background-color: #2ab090;
  padding: 20px 50px;
  color: white;
}
#B2 img {
  width: 9px;
  height: 10px;
  padding-left: 4px;
}
.testing {
  width: 100%;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  background-color: black;
  color: white;
}

.Testimonials {
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.boxes {
  /* width: 100%; */
  /* padding: 100px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.client-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.client-main1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.client-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border: 1px solid gray;
  padding: 30px 50px;
}
.dov {
  position: relative;
}

.dov span {
  position: absolute;
  top: -58px;
  left: -48px;
  font-size: 60px;
}
.client-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (max-width: 855px) {
  .Testimonials {
    display: flex;
    text-align: center;
    /* padding-right: 20PX; */
  }

  .Testimonials p {
    font-size: 12px;
  }

  span {
    display: block;
  }

  .client-main {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .client-main p {
    font-size: 15px;
  }

  .client-main1 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .client-main1 p {
    font-size: 25px;
  }

  .boxes {
    gap: 50px;
  }
}

.recentWork {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.recent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.recent p {
  color: #9c9c9c;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-bottom: 25px;

}
.cards #arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 8px 30px #585d5480;
  flex-direction: column;
  

}
.card1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-radius: 3px;
 }

.card1 img {
   width: 350px; 
  height: 300px; 
  border-radius: 5px;
  box-shadow: 0px 8px 30px #585d5480;
}
.card2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.card2 img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0px 8px 30px #585d5480;
  
}

.cards button {
  background-color: green;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 20px 50px;
}

@media (max-width: 960px) {
  .recent {
    gap: 2px;
  }
  .recentWork {
    gap: 5px;
  }

  .recentWork h1 {
    font-size: 35px;
  }

  .recentWork p {
    font-size: 12px;
  }

  .cards {
    flex-direction: column;
  }

  
    
.card1 img {
  width: 100%;
  /* height: 280px; */
  }


  .card1 h2 {
    display: flex;
    text-align: center;
    font-size: 25px;
  }

  .card1 p {
    display: flex;
    text-align: center;
    font-size: 18px;
  }

  .card2 img {
    width: 100%;
  
  }

  .card2 h2 {
    font-size: 25px;
  }

  .card2 p {
    display: flex;
    text-align: center;
    
    font-size: 18px;
  }
}
/* 5 */

.last {
  width: 100%;
  padding-bottom: 0px;
  background-color: black;
  background-image: url(./Assets/B5.avif);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;

}

.email {
  display: flex;
  color: white;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
}

input {
  width: 100%;
  display: flex;
  padding: 20px 60px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: left;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  display: flex;
  padding: 20px 80px 50px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  text-align: left;
  resize: none;
}

.Mobile {
  padding: 30px 10px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
}

.message {
  display: flex;
  color: white;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 5px;
  gap: 10px;
  text-align: left;
}

.message input {
  color: white;
  padding: 60px 60px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.last-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: large;
  background-color: #3f8e00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 77px;
}
.button img {
  height: 10px;
  padding-left: 4px;
}

#text {
  background-color: #1b1b1b;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  box-shadow: 0px 8px 30px #707a6780;
}

@media (max-width: 450px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .footer p {
    font-size: 13px;
  }

}
